*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: fit-content;
    max-width: 1080px;
    margin: auto;
    color: white;
     background-color: rgb(254, 254, 254);
    padding: 47px 100px 30px 100px;
    text-align: center;
    font-size: 20px;
}
/*--------------------------------todos os cursos----------------------------*/
.todos{
    width: 100%;
    margin-top: 50px;
    color: black;
    margin-bottom: 30px;
    gap: 200px;
}

.voltar{
    margin-top: 65px;
    height: 55px;
    width: 60%;
    background-color: #003f7b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.265);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.voltar a{
    text-decoration: none;
    color: black;
}

.voltar:active{
    background-color: #f7941d;
}

.voltar h2{
    color: #fff;
    font-size: 33px;
    padding: 8px;
}
/*--------------------------------ferias----------------------------*/

.ferias{
    width: 100%;
    padding: 10px;
    background-color: #f7941d;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.265);
    text-align: center;
}

.bt_ferias{
    width: 100%;
    background-color: #f7941d;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.265);
    text-align: center;
    color: white;
}

.ferias:active{
    background-color: #003f7b;
}

.ferias h2{
    color: #fff;
    font-size: 30px;
    padding: 10px;
}

.ferias img{
    height: 90px;
}


/*--------------------------------fim----------------------------*/

.cabeca{
    display: flex;
    justify-content: center;
    align-items: center;
}

#linha {
    width: 100%;
    border-bottom: 3px solid orange;
}

#organizacao_text{
    width: 80%;
    text-align: left;
}

#organizacao_text h2{
    padding-top: 40px;
    color: black;
    font-size: 45px;
}

#organizacao_img{
    width: 20%;
    justify-content: right;
}

#organizacao_img img{
    width: 130px;
}

.quadrado {
    margin-top: 100px;
    background: white;
    width: 45%;
    height: 12%;
}

.fila{
    margin: 20px 0;
}

select{
    font-size: 17px;
    border: none;
    padding: 5px;
    
}


.resultado{
    width: 100%;
    margin: 30px 0;
    background: rgb(0,0,70);
    background: linear-gradient(20deg, rgb(227, 227, 238) 30%, rgb(9, 185, 234) 66%); 
    color: rgb(27, 24, 24);
    padding: 10px  0;
    font-size: 25px;
}


input{
    padding: 6px;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;

}
.footer{
    
}


.footer h2{
    padding: 20px;
    height: 74px;
    background-color: #0052a1;
    color: white;
    text-align: center;
    font-size: 25px;
}

.nomes{
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: left;
    padding-top: 30px;
    background-color: #004687;
    color: white;
    height: 169px;
    font-size: 18px;
}

.nomes a{
    color: white;
}


.nomes p{
    font-family: Arial, Helvetica, sans-serif;
}

